*{
    padding: 0px;
    margin: 20px;
}

h1{
    background-color:aquamarine;
    border-style:solid;
    border-width:1px;
    border-color:chartreuse;
    border:solid 2px blue 2px;
    border-radius: 5px;
    
    

}
.paragraph1{
    background-color: blue;
   padding: 10px;
   border:20px;
   border-radius:40px;
   border-style:solid;
   border-color:chocolate;
   margin:100px;
}
.paragraph2{
    background-color: brown;
}
span{
    background-color:blue;
}